*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{

    text-align: center;

}

h1{
    color: rgb(226, 43, 43);
}





/* This changes the fonts and size of the paragraph */

p {
    color: rgba(0, 55, 255, 0.971);
font-size: 60px;
}



img{
    width: 50%;
}